:root {
    --border: 1px solid black;;
}

.container {
    display: grid;
    grid-template-columns: 60px auto auto 80px 70px auto auto;
    border: var(--border);
}

.item {
    padding: 5px;
    text-align: center;
    border: var(--border);
}

h1 {
    text-align: center;
}

.btn {
    text-align: center;
    margin-top: 100px;
}

.button {
    width: 300px;
    background-color: #5e5e5e;
    border-radius: 20px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
